# 允许构建脚本
enable-pre-post-scripts=true
auto-install-peers=true

# ❌ 移除羞耻提升，拥抱 pnpm 的严格模式 (如果项目报错再加回来)
# shamefully-hoist=true

# unsafe-perm 通常在现代 pnpm 中不再必须，可以移除尝试
# unsafe-perm=true
ignore-scripts=false

# 允许特定包的构建脚本
public-hoist-pattern[]=*@parcel/watcher
public-hoist-pattern[]=*core-js
public-hoist-pattern[]=*esbuild
