/**
 * 圆形扩散过渡模式
 */

:root[data-transition='circle'] {
  &::view-transition-group(root) {
    animation-duration: var(--theme-transition-duration, 0.4s) !important;
    animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
  }

  &::view-transition-new(root) {
    z-index: 9999;
    animation-name: circle-expand !important;
    animation-duration: var(--theme-transition-duration, 0.4s) !important;
    animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
    animation-fill-mode: forwards;
    clip-path: circle(0px at var(--transition-x, 50%) var(--transition-y, 50%));
    mix-blend-mode: normal;
  }

  &::view-transition-old(root) {
    z-index: 1;
    animation: none;
    animation-fill-mode: forwards; // 保持最终状态
  }
}

@keyframes circle-expand {
  0% {
    clip-path: circle(0px at var(--transition-x, 50%) var(--transition-y, 50%));
  }
  100% {
    clip-path: circle(
      var(--transition-radius, 150%) at var(--transition-x, 50%) var(--transition-y, 50%)
    );
  }
}
