/**
 * 淡入淡出过渡模式（默认）
 */

:root[data-transition='fade'] {
  &::view-transition-group(root) {
    animation-duration: var(--theme-transition-duration, 0.4s);
    animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
  }

  &::view-transition-new(root) {
    z-index: 9999;
    opacity: 0;
    animation: fade-in var(--theme-transition-duration, 0.4s) cubic-bezier(0.25, 0, 0.25, 1)
      forwards;
    mix-blend-mode: normal;
  }

  &::view-transition-old(root) {
    z-index: 1;
    opacity: 1;
    animation: fade-out var(--theme-transition-duration, 0.4s) cubic-bezier(0.25, 0, 0.25, 1)
      forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
