@use '@/assets/styles/theme/transitions.scss';
@use '@/assets/styles/custom-nprogress.scss';

html,
body {
  font-size: var(--font-size-md);
}

/* 快捷样式 */
// 宽度高度比例 1:1
.size-1-1 {
  aspect-ratio: 1/1;
}

// 宽度高度比例 16:9
.size-16-9 {
  aspect-ratio: 16/9;
}

// 宽度高度比例 4:3
.size-4-3 {
  aspect-ratio: 4/3;
}

/* 清除系统默认无用样式 */
* {
  box-sizing: border-box; // 盒模型
  outline: none; // 去除默认的轮廓线
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; // 去除点击时的默认高亮
  -webkit-overflow-scrolling: touch; // 移动端滚动优化
  -webkit-text-size-adjust: 100%; // 禁止用户缩放
  -webkit-font-smoothing: antialiased; // 抗锯齿
  -moz-osx-font-smoothing: grayscale; // 抗锯齿
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
