/* 清除系统默认无用样式 */
* {
  box-sizing: border-box; // 盒模型
  outline: none; // 去除默认的轮廓线
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; // 去除点击时的默认高亮
  -webkit-overflow-scrolling: touch; // 移动端滚动优化
  -webkit-text-size-adjust: 100%; // 禁止用户缩放
  -webkit-font-smoothing: antialiased; // 抗锯齿
  -moz-osx-font-smoothing: grayscale; // 抗锯齿
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
